[versions]
pyglet = 1.2.4
test = 2.3.4.5
wheel = 0.26.0
zc.recipe.egg = 2.0.1
zc.recipe.testrunner = 2.0.0

# Required by:
# catchletters==0.0.0
cocos2d = 0.6.3

# Required by:
# zope.exceptions==4.0.8
# zope.interface==4.1.2
# zope.testrunner==4.4.9
setuptools = 18.3.2

# Required by:
# cocos2d==0.6.3
# zope.testrunner==4.4.9
six = 1.9.0

# Required by:
# zope.testrunner==4.4.9
zope.exceptions = 4.0.8

# Required by:
# zope.testrunner==4.4.9
zope.interface = 4.1.2

# Required by:
# zc.recipe.testrunner==2.0.0
zope.testrunner = 4.4.9
